[Unit]
Description=Wireguard VPN config manager - Client
After=local-fs.target nss-lookup.target network-online.target
#cannot say Before=wg or nginx etc because wg-mgr-client needs to restart those IF they exist and IF it's necessary to restart them. Systemd will get stuck if you say this must run Before them.

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
WorkingDirectory=/opt/wg-mgr-client
Environment="PATH=/root/.volta/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/bin/bash -c 'exec node /opt/wg-mgr-client/wg-mgr-client*.mjs update'

[Install]
WantedBy=multi-user.target

# wgcService=wg-mgr-client-update; cd /opt/wg-mgr-client/; npm i; ln -s /opt/wg-mgr-client/$wgcService.service /etc/systemd/system/; systemctl enable $wgcService; systemctl start $wgcService; sleep 1; systemctl status $wgcService
